.column{
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: #404040;
    border-radius: 50%;
    position: relative;
}

.selected {
    background-color: #6565ff;
    transition: background-color .3s ease;
}

.tutorial-end {
    background-color: #69F0AE;
}

.skip {
    background-color: #F4FF81;
}

.snake-head {
    background-color: #6565ff;
}

.snake-head:before {
    content: '•';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d9d9d9;
    opacity: .5;
    font-size: 12px;
}

.exit {
    background-color: #FFAB40;
}

.error {
    background-color: #FF5722;
}

.exit-continue {
    background-color: #6565ff;
}

.error-continue {
    background-color: #6565ff;
}